html, body {
  font-family: Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  height: 100%;
  margin: 0;
}

input, button {
  border: none;
}

.header {
  max-width: 468px;
  height: 80px;
  margin: auto;
  display: flex;
  padding-top: 30px;
  align-items: baseline;
  justify-content: space-between;
}

.header__logo-container {
  display: flex;
  align-items: center;
}

.header__logo {
  width: 150px;
}

.header__logo-sub {
  margin-left: 10px;
  margin-bottom: 25px;
  font-size: 0.6em;
}

.form {
  max-width: 468px;
  margin: auto;
}

h3 {
  font-weight: bold;
}

.input {
  display: flex;
  justify-content: space-between;
}

.input__submit {
  display: flex;
  justify-content: flex-end;
  margin-top: 30px;
}

.input__text {
  font-size: 0.8em;
  width: 150px;
  height: 50px;
  border-bottom: 1px solid #f1f1f1;
  padding: 0 10px;
  box-sizing: border-box;
}

.input__elem_text::placeholder {
  color: #d3d3d3;
}

.input__btn {
  font-size: 0.8em;
  width: 150px;
  height: 50px;
  background-color: #ffdb4d;
  border-radius: 2px;
  cursor: pointer;
}

.container {
  max-width: 468px;
  margin: 40px auto 0;
  display: flex;
  flex-direction: column;
  position: relative;
}

.post__title {
  font-weight: bold;
  max-width: 60%;
}

.post__text {
  font-size: 0.8em;
  line-height: 1.5;
}

.header__btn {
  font-size: 0.8em;
  width: 150px;
  height: 50px;
  background-color: #ffdb4d;
  border-radius: 2px;
  cursor: pointer;
}
